<div fxLayout="column">
  <div>
    <mat-toolbar class="toolbar-color py-5 mb-4">
      <span class="center">POLICY LIST</span>
    </mat-toolbar>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Open"> {{ openPolicies }} </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>Single</ng-template>
        <ng-template matTabContent>
         <policy-view-table [type]="Single"></policy-view-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Matured"> Content 3 </mat-tab>
      <mat-tab label="Surrendered"> Content 3 </mat-tab>
      <mat-tab label="Lapsed"> Content 3 </mat-tab>
      <mat-tab label="Death Claim"> Content 3 </mat-tab>
      <mat-tab label="Reduced Paid"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>