.c-bold {
font-weight: bold;
}

.c-color-gray {
color: gray;
}

.c-color-aqua {
color: aqua;
}

.c-margin-top-5 {
margin-top: 5px;
}

.c-margin-top-10 {
margin-top: 10px;
}

.c-padding-5 {
padding: 5px;
}

